In [1]:
import pandas as pd
import gzip

In [2]:
def add(a,b):
    res = a+b
    return res

In [3]:
res = add(1,2)
res += 1
res

4

In [4]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

In [5]:
def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
#     if i > 100:
#         break
  return pd.DataFrame.from_dict(df, orient='index')

In [9]:
# df = getDF('../metadata.json.gz')
df = getDF('../kcore_5.json.gz')

In [11]:
df.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
96,A399R3BDSXRHKH,0000031887,Kim Marie Mackey,"[0, 0]",Item was exactly what I was looking for. Girl...,5.0,Perfect Tutu,1359504000,"01 30, 2013"
97,A1IJ4Z3204XZ6N,0000031887,KorinaNyree,"[0, 0]",Absolutely love this tutu. Fit my little girl ...,5.0,Super Cute Tutu,1381276800,"10 9, 2013"
98,A13VT2F9H98P93,0000031887,"KS Princess ""Elizabeth""","[4, 6]",I was pleasantly suprised when the package arr...,5.0,Made for a Princess!,1354665600,"12 5, 2012"
99,A1GDPIHRKM6SRM,0000031887,lemontea,"[0, 0]",I got this for my daughter who is now 2 years ...,5.0,Fits a 2.5 year-old,1354665600,"12 5, 2012"
100,A1Y5A0H9VMC5HI,0000031887,LGF,"[0, 0]",We bought this for our 2 year old and she LOVE...,5.0,perfect - even for small 2 yr old,1357516800,"01 7, 2013"

In [ ]:
# df.to_csv('../metadata.csv')
df.to_csv('../kcore_5.csv')

In [12]:
# df = getDF('../metadata.json.gz')
df = getDF('../reviews_Video_Games.json.gz')

In [13]:
df.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
96,A361M14PU2GUEG,0700099867,"Angry Ryan ""Ryan A. Forrest""","[2, 2]",I had Dirt 2 on Xbox 360 and it was an okay ga...,4.0,DIRT 3,1308009600,"06 14, 2011"
97,AW1X78QFLX7WL,0700099867,anne schwendiman,"[0, 0]","Yeah, well, the interface on D2 is way more im...",5.0,Give Me A Ford!,1360022400,"02 5, 2013"
98,A2UTRVO4FDCBH6,0700099867,A.R.G.,"[0, 0]","Overall this is a well done racing game, with ...",4.0,"Good racing game, terrible Windows Live Requir...",1368230400,"05 11, 2013"
99,A37DL3ZB4BKUDB,0700099867,Barbara Hladik,"[0, 0]",I have been a fan of Dirt 3 ever since Dirt 2;...,5.0,Dirt 3 puts other racing games to shame,1357084800,"01 2, 2013"
100,AN3YYDZAS3O1Y,0700099867,Bob,"[11, 13]",Loved playing Dirt 2 and I thought the graphic...,5.0,A step up from Dirt 2 and that is terrific!,1313280000,"08 14, 2011"

In [19]:
# df = getDF('../metadata.json.gz')
df = getDF('../small_subsets/reviews_Patio_Lawn_and_Garden_5.json.gz')

In [20]:
!pwd

/data/gpfs/projects/punim1395/workspace/dataset/Amazon_review/scripts

In [21]:
df.to_csv('../small_subsets/reviews_Patio_Lawn_and_Garden_5.csv')

In [17]:
df.tail()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
96,A1NFXS9QOKWGO9,B00004R9TL,SalemClipper,"[0, 0]",Works great and is easy to replace spool of li...,5.0,Does as designed and as advertized!,1386201600,"12 5, 2013"
97,A2GPQZHM465OUK,B00004R9TL,Ted Detjen,"[1, 1]",I made the mistake of taking the spool that ca...,5.0,Handy replacements for my grass trimmer,1368489600,"05 14, 2013"
98,A10BGNHGWPN7ZE,B00004R9VV,Adam P. Layton,"[0, 0]",BZZZZZTTTT.... ZAP ZAP. Dead bugs all over th...,5.0,bug zapper,1388188800,"12 28, 2013"
99,A3H7V57O592BRH,B00004R9VV,"Amazon Customer ""ML""","[3, 4]",I bought this hoping to kill mosquitoes. I plu...,5.0,It definitely kills bugs,1250553600,"08 18, 2009"
100,A2T1YU5H4QNAR6,B00004R9VV,AnonyMouse,"[0, 0]","It was a little smaller than I expected, but t...",4.0,So far I really love this product,1373241600,"07 8, 2013"

In [6]:
df = getDF('../meta_Movies_and_TV.json.gz')

In [7]:
df.to_csv('../meta_Movies_and_TV.csv')